@page
@model WebApplication1.Pages.Aluno.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alunos.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alunos.Matricula)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Alunos.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

@section RightFooter
{
    <img src="~/images/menu/cups.png" />
}